/* CSS HEX */
:root {
  --paradise-pink: #ef476fff;
  --orange-yellow-crayola: #ffd166ff;
  --caribbean-green: #06d6a0ff;
  --blue-ncs: #118ab2ff;
  --midnight-green-eagle-green: #073b4cff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #f6f6f9;
  font-size: 16px;
  font-family: "Noto Serif JP", serif;
}
header {
  width: 100%;
  background-color: var(--blue-ncs);
  padding: 10px 20px;
}
h1.brand a {
  color: white;
  text-decoration: none;
}
main {
  width: 100%;
  padding-left: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
aside {
  position: absolute;
  /* height: 100%; */
  width: 300px;
  overflow: hidden;
  padding: 20px;
}
.btn {
  cursor: pointer;
  font-size: 1rem;
  padding: 8px;
  background-color: var(--blue-ncs);
  color: white;
  border-radius: 0;
  border-style: solid;
  border-color: var(--blue-ncs);
}
.btn:disabled {
  pointer-events: none;
  background-color: #6c757d;
  border-color: #6c757d;
}
textarea {
  border-radius: 0;
}
textarea:focus {
  border-color: var(--blue-ncs);
  outline: 0;
}
.wrapper-center {
  text-align: center;
  margin-bottom: 10px;
}
#entries {
  width: 100%;
  resize: vertical;
  overflow: auto;
  padding: 10px;
}
#canvas1 {
  margin: 20px 0;
  border: 2px solid #cccccc;
}
